.library-nav-wrapper .primary-nav {
    height: 108px;
}

.library-main {margin-top: 22px;}

.bg-flcc-light-blue {
    background-color: #d9edf7;
}

.bg-flcc-gray {
    background-color: #f5f5f5;
}

/* fix to make related links h2 the same size as other h2 usage */
.related-links-ct h2 {font-size: 2.25rem;}

.general-content .bg-flcc-light-blue {
    color:#3b3b3b;
}

.link-block-multi ul, .jumplist ul, .jumplist-block ul  {
    list-style: none;
}

.jumplist-block li {
	break-inside: avoid;
}

.link-block-multi-vertical li {
   margin-bottom: .5rem;
   /* margin-right: .75rem; */ /* 2rem */
   /* margin-bottom: .75rem; */ /* 2rem */
}

.link-block-multi-horizontal li, .two-cols-layout .link-block-multi-vertical li {
    display: inline-block;
    margin-right: .75rem;
    margin-bottom: .75rem;
}

.jumplist li {
    display: inline-block;
    margin: .375rem;
   /* margin-right: .75rem; */ /* 2rem */
   /* margin-bottom: .75rem; */ /* 2rem */
}

.link-block-multi-vertical li a {
    display: block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1.5rem;
    font-size: .98438rem;
    letter-spacing: .025rem;
    font-weight: 500;
    text-decoration: none !important;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-transform: Uppercase;
    font-weight: 700;
    }

.link-block-multi-horizontal li a, .jumplist li a {
display: inline-block;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
padding: .5rem 1.5rem;
font-size: .98438rem;
letter-spacing: .025rem;
font-weight: 500;
text-decoration: none !important;
transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
text-transform: Uppercase;
font-weight: 700;
}

.link-block-multi .button-region a { 
    background-color: #fff;
    color: #3b3b3b !important;
  	border: 2px solid #fff;
}

.link-block-multi .button-region a:hover {
    background-color: transparent;
    color: #fff !important;
    border: 2px solid #fff;
}

.link-block-multi .button-region a:hover>svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.link-block-multi .button-region a>svg {
    fill: #0046ad;
    transition: fill .3s ease-in-out;
}

.jumplist-style-plain-button a {
    text-decoration: underline;
}

.jumplist-style-btn-t4-primary a {
 
    background-color: #0046ad;
    color: #fff !important;
  	border: 2px solid #0046ad;
}

.jumplist-style-btn-t4-primary a:hover {
    background-color: transparent;
    color: #0046ad !important;
    border: 2px solid #0046ad;
}

.jumplist-style-btn-t4-primary a:hover>svg {
    fill: #0046ad;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-primary a>svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-primary-outline a {
    background-color: transparent;
    color: #0046ad;
    border: 2px solid #0046ad;
}

.jumplist-style-btn-t4-primary-outline a:hover {
    background-color: #0046ad;
    color: #fff !important
}

.jumplist-style-btn-t4-primary-outline a:hover>svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-primary-outline a>svg {
    fill: #0046ad;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-secondary a {
 
    background-color: #478316;
    color: #fff !important;
  	border: 2px solid #478316;
}

.jumplist-style-btn-t4-secondary a:hover {
    background-color: transparent;
    color: #478316 !important;
    border: 2px solid #478316;
}

.jumplist-style-btn-t4-secondary a:hover>svg {
    fill: #478316;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-secondary a>svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-secondary-outline a {
    background-color: transparent;
    color: #478316;
    border: 2px solid #478316;
}

.jumplist-style-btn-t4-secondary-outline a:hover {
    background-color: #478316;
    color: #fff !important
}

.jumplist-style-btn-t4-secondary-outline a:hover>svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
}

.jumplist-style-btn-t4-secondary-outline a>svg {
    fill: #478316;
    transition: fill .3s ease-in-out;
}

.jumplist-block li a {
  	display: block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1.5rem;
    font-size: .98438rem;
    letter-spacing: .025rem;
    text-decoration: none !important;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-transform: Uppercase;
    font-weight: 700;
    width: 100% !important;
    margin-bottom: .75rem;
}

.block-buttons-multi-column .column-2 {
    column-count: 2;
    column-gap: 5rem;
    column-rule: solid 1px #478316;
  	column-fill: balance-all;
   
} 

.block-buttons-multi-column .column-3 {
    column-count: 3;
    column-gap: 5rem;
    column-rule: solid 1px #478316;
  	column-fill: balance-all;
} 

.two-cols-layout .block-buttons-multi-column .column-3 {
    column-count: 2; 
}

@media (max-width:992px) {
    .block-buttons-multi-column .column-2, .block-buttons-multi-column .column-3, .two-cols-layout .block-buttons-multi-column .column-3 {
        column-count: 1;
    }
}

.three-cards-custom .general-content .btn-t4 {margin-top: 1rem;}

.three-cards-list {padding-top: 1rem; padding-bottom: 1rem;}
.three-cards-list h3 {margin-bottom: 0;}
.three-cards-list h3 a {text-underline-offset: 8px;}

.three-cards-custom .three-cards-col img,
.three-cards-list .three-cards-list-col img {margin-bottom: 1rem;} 

.three-cards-list-col {margin-bottom: 1rem;}
.three-cards-list .card-body-t4 h3 {font-size: 1.75rem;}
.three-cards-list a {text-decoration: none;}
.card-list-t4 a:hover {text-decoration: underline;}

.three-cards-list a.btn-t4-primary {color: #fff !important;}
.three-cards-list a.btn-t4-primary:hover {color: #0046ad !important; background-color: #fff;}

a.directions-maps:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-family: FontAwesome;
    color: #696969;
    text-decoration: none;
    content: "\f105"; /* angle right*/
    margin-left:2px;
    font-size: 80%;
   vertical-align: baseline;
}


@media (max-width:992px) {
    .two-cols-layout .promoted-content-flcc-custom .promoted-content-two-column {
    columns: 1;
    column-rule: none;
    }
}

.promoted-content-two-column h3 {
    font-size: 1.5rem;
    margin-bottom: .25rem;
    word-break: break-word;
  	break-inside: avoid;
}

.promoted-content-two-column h3::after {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color: #478316; 
    display: inline-block;
    font-size: 80%;
    margin-left: .25em; /* same as padding-left set on li */
    width: -.25em; /* same as padding-left set on li */
  }

.promoted-content-two-column ul, .distinct-list-items ul {
    list-style: none;
    padding-left: 2rem;
  }
.promoted-content-two-column li, .distinct-list-items li {
    padding-left: 1.3em;
   	break-inside: avoid;
  }

.promoted-content-two-column p {
   	break-inside: avoid;
  }

 .promoted-content-two-column li::before, .distinct-list-items li::before {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color: #478316; 
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
 }

.promoted-content-two-column h3 a, .promoted-content-two-column li a {text-decoration: none;}

.promoted-content-two-column h3 a:hover, .promoted-content-two-column li a:hover {text-decoration: underline;}

.contact-us-3-col .program__general-ct-2__text a {word-break: break-word;}

.program__general-ct-2__main .left-column-text {display: inline;}

.link-block-content h2, .link-block-horizontal-content h2 {font-size: 2.25rem; font-weight: 600;}
.link-block-buttons .button-region ul {margin-bottom: 0;}

.two-cols-layout .three-cards-custom .three-cards-col,
.two-cols-layout .three-cards-list .three-cards-list-col,
.two-cols-layout .link-block-multi-vertical .link-block-content,
.two-cols-layout .link-block-multi-vertical .link-block-buttons, 
.two-cols-layout .contact-us-3-col .contact-us-head,
.two-cols-layout .contact-us-3-col .contact-us-content {
   max-width: 100%;
   flex: 0 0 100%;
 }

/*.buttons-below {padding-top: 1rem;}*/
@media (max-width:992px) {
.button-region {padding-left: 0; padding-right: 0;}
.buttons-below {padding-top: 0; padding-left: 1rem; padding-right: 1rem;} 
.buttons-below li, .buttons-below li a {display: block; width:100%;}
}

/* .two-cols-layout .link-block-multi-vertical .link-block-buttons {
   padding-left: 0;
   padding-right: 0;
 } */

.icon-link-tile {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 .icon-link-tile-group .icon-link-icon {
    font-size: 3rem;
    color:#478316;
}

.icon-link-tile-group .icon-link-tile-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0046ad;
} 

.icon-link-tile-group .icon-link-tile-title a {
    text-decoration: none;
    color: #0046ad;
} 

.icon-link-tile-group .icon-link-tile-title a:hover {
    text-decoration: none;
}
.news .breadcrumb-t4 li:last-child {display:none !important;}

.three-cards-custom .general-content {top: -3rem;}
.hero-with-bg-stripe {position: relative;}
.bg-stripe-holder {position: absolute; height:70%; top:15%; background-color:#003366;}

/* remove - override the 4rem of padding on the content region of left sidebar pages in viewports larger than 992px wide*/
@media (min-width:992px) {
    .inner__content {
        width: calc(100% - 318px)
    }

    .inner--left-nav .inner__sidebar {width: 318px;
        padding-right: 2rem;
    }
    .inner--left-nav .inner__content {
        padding-left: 2rem;
    }    
}

/*
.heading-only-min-padding-bottom {padding-bottom: 0; margin-bottom: -0.6rem;}
.general-content {padding-bottom: 1.5rem !important;}
*/

/* remove or add - bottom padding to the General Content CT - normal state is flcc-style-padding-bottom-4 = 1.5rem or 24px  */
.flcc-style-padding-bottom-4 {padding-bottom: 1.5rem;}
.no-padding-divider-bottom {padding-bottom: 0 !important;}
.single-padding-divider-bottom {padding-bottom: 4rem !important;}

/* remove bottom margin on embedded media in the Promotional Embed – Gradient Background – ID: 429 content type  */
.promoted-content .embed-responsive {margin-bottom: 0;}
.promoted-content .youvisit-embed {margin-bottom: -10px;}
.cw-rule {
    border: 4px solid #0046ad;
    border-radius: 5px;
    margin: 0 25% 2rem 25%;
  }

/* PDF Icons after links that include .pdf START */
a:not(.file-icon-after)[href$=".pdf"]:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-family: FontAwesome;
    color: #696969;
    text-decoration: none;
    content: "\f1c1";
    margin-left:5px;
}	

a.btn[href$=".pdf"]:after, .btn-t4-primary a[href$=".pdf"]:after {
		 color:inherit; 
}

a.btn:hover[href$=".pdf"]:after, .button-region a:hover:after  {
    color:inherit;
}
/* PDF Icons after links that include .pdf END*/	

ul.contacts {
    list-style: none;
    padding-left: 1.6rem;
  }

ul.education {
    list-style: none;
    padding-left: 0.1rem;
  }


li.pre-icon {
    margin-right: 5px;
   	break-inside: avoid;
  }

 li.pre-icon::before {
    
    font-family: FontAwesome;
    color: inherit; 
    display: inline-block;
    margin-left: -1.25em; /* same as padding-left set on li */
    width: 1.25em; /* same as padding-left set on li */
 }	
	
	li.email-icon::before {	
content: "\f0e0"; /* FontAwesome Unicode */	
	}
	
	li.phone-icon::before {	
content: "\f095"; /* FontAwesome Unicode */	
	}

.video-block-ct .bg-gray-100 a:not(.btn-t4-primary,.btn-t4-secondary,.btn-t4-primary-outline,.btn-t4-secondary-outline,.btn-t4-white, .btn-t4),   
.three-cards-list .bg-gray-100 a:not(.btn-t4-primary,.btn-t4-secondary,.btn-t4-primary-outline,.btn-t4-secondary-outline) {color: #0046ad !important;}

.video-block-ct .bg-gray-100 a:not(.btn-t4-primary,.btn-t4-secondary,.btn-t4-primary-outline,.btn-t4-secondary-outline,.btn-t4-white,.btn-t4):hover,
.three-cards-list .bg-gray-100 a:not(.btn-t4-primary,.btn-t4-secondary,.btn-t4-primary-outline,.btn-t4-secondary-outline):hover {text-decoration: underline;}

@media (min-width:992px) {
    .three-cards-list .card-t4 img {
        height: 224px;
        object-fit: cover;
        object-position: center center;
        /* object-position: left top;  */
    }
    .three-cards-list .card-t4 img.image-top {
        object-position: top left;
    }
    .three-cards-list .card-t4 img .image-bottom {
        object-position: bottom right;
    }    
}

@media (max-width:991px) {
    .three-cards-list .card-t4 img {
        max-height: 448px;
        object-fit: cover;
        object-position: left top;
    }
}

.general-content .btn-t4-primary {margin-right: 5px; margin-bottom: 5px;}

.clearing-rule {clear: both; margin-top: 1em; margin-bottom: 1em;}

.unused-rule {color: #fff; background-color: #000; padding: 1em;}

.two-cols-layout .promoted-content-flcc-custom .text-column, .two-cols-layout .promoted-content-flcc-custom .image-column  {padding-left: 0; padding-right: 0;}

.two-cols-layout .promoted-content-flcc-custom .promo-row {background-color: #f5f5f5;}

.two-cols-layout .promoted-content-flcc-custom .promo-image img {max-height: 450px;}

@media (min-width:992px) {
    .two-cols-layout .promoted-content-flcc-custom .promo-row {
        padding-left: 0 !important; padding-right: 0 !important
        }
  .max-w-group {max-width: 50%;}  
     }  

.library-site-links .custom-links a:first-child {
    background-color: #478316;
    width: 50%
}

.library-site-links .custom-links a:first-child:focus,
.library-site-links .custom-links a:first-child:hover {
    background-color: #539c16;
}

.library-site-links .custom-links a:nth-child(2) {
    background-color: #539c16;
    width: 50%
}

.library-site-links .custom-links a:nth-child(2):focus,
.library-site-links .custom-links a:nth-child(2):hover {
    background-color: #478316;
}

.library-site-links .custom-links a:nth-child(3) {
    background-color: #539c16;
    width: 50%;
    flex: 1
}

.library-site-links .custom-links a:nth-child(3):focus,
.library-site-links .custom-links a:nth-child(3):hover {
    background-color: #478316;
}

.library-site-links .custom-links a:nth-child(4) {
    background-color: #478316;
    width: 50%;
    flex: 1
}

.library-site-links .custom-links a:nth-child(4):focus,
.library-site-links .custom-links a:nth-child(4):hover {
    background-color: #539c16;
}

.library-nav-wrapper .level-1>li:nth-child(3), .library-nav-wrapper .level-1>li:nth-child(4){
    background-color: #fff;
}    

@media screen and (min-width:1200px) {
    /* .level-1>li:nth-last-child(-n+3) */
    .library-nav-wrapper .level-1>li:nth-child(3), .library-nav-wrapper .level-1>li:nth-child(4){
        display: initial;
        background-color: #fff;
    }
    .library-nav-wrapper .level-1>li:nth-last-child(-n+1) {
        display: none;
    }
}

.lcs_slide_out-r {
    top: 50% !important;
}

.two-cols-layout .testimony-block-ct .testimony-container {
    padding-left: 0;
    padding-right: 0;
}

.form-field-outline {border: 2px solid #000 !important;}
input.rounded-0[type="text"]:focus,
input.rounded-0[type="search"]:focus {
  border-radius: 0 !important;
  border-color: #000 !important;
  outline: none !important;
}
/*custom style for events content type > multiple-events-long-format content layout*/
.ft-events-200__event {
    display: block;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

.ft-events-200__event:focus,
.ft-events-200__event:hover {
    text-decoration: none;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, .1)
}

.ft-events-200__event:focus img,
.ft-events-200__event:hover img {
    transform: scale(1.1)
}

/*custom style for events content type > multiple-events-long-format content layout*/
