
/* fonts */

.roboto-slab-<uniquifier>{font-family:"Roboto Slab",serif;font-optical-sizing:auto;font-weight:<weight>;font-style:normal}.barlow-semi-condensed-thin{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:normal}.barlow-semi-condensed-extralight{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:normal}.barlow-semi-condensed-light{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:normal}.barlow-semi-condensed-regular{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:normal}.barlow-semi-condensed-medium{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:normal}.barlow-semi-condensed-semibold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:normal}.barlow-semi-condensed-bold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:normal}.barlow-semi-condensed-extrabold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:normal}.barlow-semi-condensed-black{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:normal}.barlow-semi-condensed-thin-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:italic}.barlow-semi-condensed-extralight-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:italic}.barlow-semi-condensed-light-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:italic}.barlow-semi-condensed-regular-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:italic}.barlow-semi-condensed-medium-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:italic}.barlow-semi-condensed-semibold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:italic}.barlow-semi-condensed-bold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:italic}.barlow-semi-condensed-extrabold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:italic}.barlow-semi-condensed-black-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:italic}


@font-face {
    font-family: 'albertus_mediumregular';
	font-weight:400;
	font-style: normal;
	font-display: block;
    src: url('../fonts/albr55w-webfont.eot');
    src: url('../fonts/albr55w-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/albr55w-webfont.woff') format('woff'),
         url('../fonts/albr55w-webfont.svg#albertus_mediumregular') format('svg');
}


body {color:#232323; font-size: 16px; line-height:1.66; margin: 0;
    font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}

a {color:#6e5212; 
text-decoration-line: underline;
text-decoration-style: dotted;}


#social-header {border-top: 10px solid #eeb310; background-color: #000; min-height:65px; color:#fff;}


/* campus nav - top menu */
.social-links-wrap a {font-size:14px; color:#fff;}


.campus-links {display:grid; }

.campus-links a {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; color:#fff; text-transform: uppercase;font-size: 12px; font-weight:bold;
    letter-spacing:0.015em; padding-bottom:15px;}

.campus-links a:hover {color:#eeb310;}

.campus-links.dropdown-menu > li a:hover,
.campus-links.dropdown-menu > li a:focus,
.campus-links.dropdown-menu > li a:active {
  color:#eeb310;}

.campus-links .navbar-toggler {/*color:#fff; border: 1px solid #fff; background-color:#000;*/ padding:0.25rem;}

.campus-links .navbar {--bs-bg-opacity: 0;}


/* campus nav /secondnav megamenu */

.campus-logo {}

.campusnav-wrap {/*max-width:80%;*/}

.campusnav a {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; font-size:14px;color:#000; text-transform: uppercase; font-weight:bold;
    letter-spacing:0.015em; padding-bottom:15px;}

.libnav a.navbar-brand {/*padding-top: 30px;*/ margin-top:10px; font-family:'albertus_mediumregular';
     min-height:70px;font-size: 1.0em; text-transform: none;} 

.campusnav-wrap a {/*font-size: 14px;*/}


/*  megamenu dropdown and fly.... */

.megaumenu {border: none; border-radius: 0;padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);}

.dropdown-menu {border: none; }

.megamenu.show {display: flex;}
.megamenu ul {list-style: none;padding: 0; line-height:1.33em;}

.megamenu li .dropdown-item {color: #000;font-size: 14px; padding: 0.5em 1em;
text-transform: none; font-weight: 500; border-bottom: 1px solid #232323;}

.megamenu li:first-child a {font-weight: bold; font-size: 20px;text-transform: uppercase; font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif;/*color: #516beb;*/}

.megamenu li .dropdown-item .bigfat-menu  {/*font-weight: bold;font-size: 14px;
  text-transform: uppercase;color: #516beb;*/}

.megamenu a {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}
.megamenu a:hover  {color: #eeb310;}

.dropdown-item {white-space: wrap;}

/*  button styles */

.icon-text {
  display: block;
  margin: -5px 0;
  font-size: 10px;
  line-height: 10px;
}




/* hero image */



.featured-image-and-title  {background-color: #000; background-image: url("/images/NetworkBlack.png"); min-height: auto;}

.big-title-wrap {}

.featured-image-and-title .pg-title {color: #fff;line-height: 1em;background-color: #000; padding: 15px;}


 h1.pg-title  { font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; font-size: 2em; font-weight: 700; width: fit-content; text-transform: uppercase;}

.featured-image-and-title .media-wrap{ padding:2em;}


/* library/third nav */
.main-nav {display:grid; }
.libnav a {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; color:#000; text-transform: uppercase;font-size: 14px; font-weight:bold;
    letter-spacing:0.015em; padding-bottom:15px;}



/* quick search */

.homepagesearch {background-color: #fff; padding: 20px;}
.homepagesearch .tab-content {min-height: 9.7em;
  background-color: #fff;
  padding:20px 10px 20px 10px;margin-bottom: 20px;}


/* libcal hours */
.hours-block {background-color: #fff; padding: 20px; margin-bottom:10px;}
	
.libraryHoursContainer {min-height:55px;}

.hours-today { border-spacing: 0; border-collapse: collapse; width: 100%; margin-bottom:0px;}
.hours-today-row td, .hours-today-row th { padding: 8px 5px; }


/* a-z list */
.s-lg-icons {display: inline;}
.s-lg-icons ul {list-style: none;padding: 0;margin: 0;display: inline;}
.s-lg-icons li {display: inline; padding: 0 2px;}

.s-lg-icon {max-height: 20px; max-width: 20px;}

.label {display: inline;padding: .2em .6em .3em;
    font-size: 75%;font-weight: 700;line-height: 1;color: #fff;text-align: center;
    white-space: nowrap;vertical-align: baseline;border-radius: .25em;}

.alert-success, .label-success {color: #0f5132;background-color: #d1e7dd;border-color: #badbcc;}
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}


/*  books and news blocks */
.more-link {clear:both; float:right;}


/* new books block */
.region-books-display li {float:left;margin-left:20px;list-style-image: none;
    list-style-type: none;}


.footer {margin-top:20px;}

/* cankle */
.cankle {background-color:#232323; font-size:16px; padding-top:100px;color: #fff;}
.cankle ul {padding-top:10px; padding-left:0;}

.cankle li {margin-left:0px;
	list-style-image: none;list-style-type: none;
	margin-bottom: 10px;padding-bottom: 10px;
 border-bottom: 1px solid #e7e6e6;}

.cankle h3, .cankle h4 {color: #fff;}

.cankle a {color: #fff; text-decoration:none; font-weight:700;}
.cankle .broome-yellow a {color:#eeb310;}


.footerfooter {background-color:#d3bc8d; padding: 30px 20px 30px 20px;}
.footerfooter a {color: #232323;}


.fakeimg {background: #aaa;}



/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.hours-block {margin-bottom:10px;}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
        
    .featured-image-and-title {height: 400px; background-image: url("/images/hero-background.jpg");
         position: relative;margin-bottom:0px;}
    .featured-image-and-title .wrap {position: relative;z-index: 2;}
   .featured-image-and-title .media-wrap{ padding:5em;}

     /* quicksearch */
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

}

@media (max-width: 991px) {
    .social-links {display:none;}  
    .thirdnav .navbar-toggler {justify-self: flex-end;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* demo v2 */
    .campus-left .navbar, #campusNavDropdown .navbar-nav {justify-self: flex-end;}
    .thirdnav .navbar, #libNavDropdown .navbar-nav {justify-self: flex-end;}


    /* campusnav megamenu */

    .secondnav .campusnav {min-height:90px;}
    .dropdown-menu .megamenu {/*padding: 2rem 1rem;*/}

    .dropdown:hover .megamenu {display: flex;}
    .megamenu.show {display: flex; }

    /*hero banner */
        .featured-image-and-title.has-media .big-title-wrap {/*bottom: 4.25em;*/}

    .featured-image-and-title {height: 400px;
        background-image: url("/images/hero-background.jpg");
        position: relative;margin-bottom:0px;}


         h1.pg-title {font-size: 6em;}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }


